<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>property-Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id='map' style='width: 100%; height: 90vh;'></div>
    <!-- <img src="../../../../../assets/icon/apartment1/outside/2.jfif"> -->
    <div class="slider ion-padding">

        <ion-content>
            <ion-slides class="ion-slides" pager="true" [options]="options">
                <ion-slide class="ion-slide" *ngFor="let property of properties">
                    <div class="img-wrapper" routerLink="/property-details/{{property.id}}">
                        <ion-img src="{{property.image}}"></ion-img>
                    </div>
                </ion-slide>
            </ion-slides>
        </ion-content>

    </div>

</ion-content>


<!-- 


    <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col size="12">
                    <ion-slides class="ion-slides" [options]="options">
                        <ion-slide class="ion-slide" *ngFor="let property of properties">
                            <ion-card class="card">
                                <ion-card-content class="card-content">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <div class="img-wrapper" routerLink="/property-details/{{property.id}}">
                                                    <ion-img src="{{property.image}}"></ion-img>
                                                </div>
                                            </ion-col>
                                        </ion-row>

                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>
        
 -->







<!-- 

     <ion-slides [options]="options">
                                <ion-slide *ngFor="let property of properties">
                                    <ion-card class="card">
                                        <ion-card-content class="ion-text-left">
                                            <ion-grid>
                                                <ion-row>
                                                    <ion-col>
                                                        <div class="img-wrapper" routerLink="/property-details/{{property.id}}">
                                                            <ion-img src="{{property.image}}"></ion-img>
                                                        </div>
                                                    </ion-col>
                                                </ion-row>

                                            </ion-grid>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-slide>
                            </ion-slides>
 -->


<!-- 

    <ion-slides [options]="options">
                                <ion-slide *ngFor="let property of properties">
                                    <ion-card class="card">
                                        <ion-card-content class="ion-text-left">
                                            <ion-grid>
                                                <ion-row>
                                                    <ion-col>
                                                        <div class="img-wrapper" routerLink="/property-details/{{property.id}}">
                                                            <ion-img src="{{property.image}}"></ion-img>
                                                        </div>
                                                    </ion-col>
                                                </ion-row>
                                                <ion-row>
                                                    <ion-col size="10" class="ion-margin-top">
                                                        <ion-card-title class="title">{{property.name}}</ion-card-title>
                                                    </ion-col>
                                                    <ion-col size="2">
                                                        <ion-buttons slot="">
                                                            <ion-button *ngIf="property.favorite" (click)="setFavoriteProperty(property.id, property.favorite)">
                                                                <ion-icon slot="icon-only" name="heart" color="primary">
                                                                </ion-icon>
                                                            </ion-button>
                                                            <ion-button *ngIf="!property.favorite" (click)="setFavoriteProperty(property.id, property.favorite)">
                                                                <ion-icon slot="icon-only" name="heart-outline" color="primary">
                                                                </ion-icon>
                                                            </ion-button>
                                                        </ion-buttons>
                                                    </ion-col>
                                                </ion-row>
                                            </ion-grid>
                                        </ion-card-content>
                                    </ion-card>
                                </ion-slide>
                            </ion-slides>
  -->