<ion-header>
    <ion-toolbar>

        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>property-Map</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id='map' style='width: 100%; height: 90vh;'></div>
    <!-- <img src="../../../../../assets/icon/apartment1/outside/2.jfif"> -->
    <div class="slider ion-padding">

        <ion-content>
            <ion-slides class="ion-slides" pager="true" [options]="options">
                <ion-slide class="ion-slide" *ngFor="let property of properties">
                    <div class="img-wrapper" routerLink="/property-details/{{property.id}}">
                        <ion-img src="{{property.images}}"></ion-img>
                    </div>
                </ion-slide>
            </ion-slides>
        </ion-content>

    </div>

</ion-content>