<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Cleaning Service Request</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <div class="main">
    <div *ngIf="chats.length > 0">
      <ion-list *ngFor="let chat of chats" class="item-background-color">
        <ion-item button *ngIf="chat.from === userID; else to">
          <ion-avatar slot="end">
            <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
            <ng-template #pic>
              <ion-img [src]="picUrl" class="user-icon"></ion-img>
            </ng-template>
          </ion-avatar>
          <ion-label class="you ion-text-wrap">
            <ion-text>You</ion-text>
            <p>
              {{chat.message}}
              <br />
              <!-- <ion-text class="ion-text-right">{{chat.time}}</ion-text> -->
            </p>
          </ion-label>
        </ion-item>
  
        <ng-template #to>
          <ion-item button>
            <ion-avatar slot="start">
              <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
              <ng-template #OwnerPic>
                <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
              </ng-template>
            </ion-avatar>
            <ion-label class="receiver ion-text-wrap">
              <p>
                {{chat.message}}
                <br />
                <ion-text class="ion-text-right">{{chat.time}}</ion-text>
              </p>
            </ion-label>
          </ion-item>
        </ng-template>
      </ion-list>
    </div>
  
  
    <ion-list class="item-background-color" *ngIf="chats.length === 0">
      <ion-item button>
        <ion-avatar slot="start">
          <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #OwnerPic>
            <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="receiver ion-text-wrap">
          <p>
            Hello, you have requested the following services:
          </p>
          <ol>
            <li *ngFor="let service of requestedServices">
              <ion-text class="list">
                {{service.service}} - R {{service.price}}
              </ion-text>
            </li>
          </ol>
          <p>
            Total: R {{totalPrice}} <br />
            Location: <br><ion-icon name="location-outline"></ion-icon> {{address}}
          </p>
        </ion-label>
      </ion-item>
  
      <ion-item button>
        <ion-avatar slot="start">
          <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #OwnerPic>
            <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="receiver ion-text-wrap">
          <p>
            Select the date
          </p>
          <ol *ngIf="cleaningDays">
            <span *ngFor="let day of cleaningDays.days">
              <li *ngIf="day.checked === true">
                <ion-button shape="round" color="light" expand="full" (click)="selectDay(day)">
                  {{day.name}} {{day.from}} - {{day.to}}
                </ion-button>
              </li>
            </span>
          </ol>
        </ion-label>
      </ion-item>
  
  
      <ion-item button *ngIf="dateOk === true">
        <ion-avatar slot="end">
          <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #pic>
            <ion-img [src]="picUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="you ion-text-wrap">
          <p>
            {{selectedDate}}
          </p>
        </ion-label>
      </ion-item>
  
      <ion-item button *ngIf="dateOk === true">
        <ion-avatar slot="start">
          <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #OwnerPic>
            <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="receiver ion-text-wrap">
          <p>
            Select the time
            <br />
            <ion-item class="time-box">
              <ion-label>
                <ion-icon name="time-outline"></ion-icon>
              </ion-label>
              <ion-datetime 
                displayFormat="HH:mm" 
                placeholder="Select Time" 
                [(ngModel)]="selectedTime" 
                [min]="minTime" 
                [max]="maxTime"
                required>
              </ion-datetime>
            </ion-item>
            
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button shape="round" color="light" expand="block">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button shape="round" color="light" expand="block" (click)="setTime()">
                    Continue
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </p>
        </ion-label>
      </ion-item>

      <ion-item button *ngIf="timeOk === true">
        <ion-avatar slot="end">
          <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #pic>
            <ion-img [src]="picUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="you ion-text-wrap">
          <p>
            {{selectedTime}}
          </p>
        </ion-label>
      </ion-item>

      <ion-item button *ngIf="timeOk === true">
        <ion-avatar slot="start">
          <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
          <ng-template #OwnerPic>
            <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
          </ng-template>
        </ion-avatar>
        <ion-label class="receiver ion-text-wrap">
          <p>
            Make Request<br />
            Total: R {{totalPrice}}
            <br />
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-button shape="round" color="light" expand="block">
                    Cancel
                  </ion-button>
                </ion-col>
                <ion-col>
                  <ion-button shape="round" color="light" expand="block" (click)="payNow()">
                    Request
                  </ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </p>
        </ion-label>
      </ion-item>
  
  
    </ion-list>

    <ion-button
      *ngIf="chats.length > 0"
      shape="round"
      expand="full"
      class="ion-padding"
      (click)="newAppointment()"
      >
      make new request
    </ion-button>
  
  </div>
  
  <div class="dummy"></div>
</ion-content>
