ion-tabs{
    box-shadow: none;
    --background: #f8f8fa;
    background-color: #f8f8fa;
}

ion-tab-bar{
    box-shadow: none;
    --background: #f8f8fa;
    background-color: #f8f8fa;
}

// ion-item {
//     --background: #f8f8fa;
  
    
//       h2 {
//         font-weight: bold;
//         font-size: 18px;
//         padding-top: 8px;
//       }
    
//     }
    
//     ion-content {
//       --background: #f8f8fa;
//     }
