<ion-grid class="ion-padding">
  <ion-row>
    <ion-col size="12">
          <ion-card class="card" *ngFor="let i of properties" (click)="gotoPropertyDetails()">
            <ion-card-content class="ion-text-left">
              <div class="img-wrapper">
                <ion-img src="../../../../../../assets/images/property.jpeg"></ion-img>
              </div>
              
              <ion-grid>
                <ion-row>
                  <ion-col class="column" size="8">
                    <ion-card-title class="title">John's Properties</ion-card-title>
                  </ion-col>
                  <ion-col class="column" size="4">
                    <ion-buttons>
                      <ion-icon name="heart-circle-outline"></ion-icon>
                    </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-card-subtitle>44 Grand Central, Midrand, Johannesburg, South africa</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>