ion-item {
  
    h2 {
      font-weight: bolder;
      font-size: 22px;
    }

    h3{
        font-weight: bold;
        font-size: 16px;
    }
  
}

.seachbar {
  margin: auto;
  width: 85%;
  margin-top: 2%;
  margin-bottom: 2%;
  background-color: white;
  border-radius: 10px;
  color: rgb(87, 87, 87);
  // border: 1px solid black;
  box-shadow: 0.1px 1px 3px 0px;
  z-index: 2;
}
ion-content {
  --background: #f8f8fa;

  .email{
      font-size: 15px;
  }

  .avatar-col{
      padding-top: 15px;
  }

  .name-email-col{
      padding-top: 0px;
  }
}