<ion-header class="ion-no-border">
    <ion-item lines="none" class="ion-item">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/tabs-pages/tabs/dashboard"></ion-back-button>
        </ion-buttons>
        <ion-label class="ion-text-end">
            <h2>Messages</h2>
        </ion-label>
    </ion-item>
</ion-header>

<ion-content color="light">

    <div class="main">
        <div *ngIf="chats.length > 0">
            <ion-list *ngFor="let chat of chats" class="item-background-color">
                <ion-item button *ngIf="chat.from === userID; else to">
                    <ion-avatar slot="end">
                        <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
                        <ng-template #pic>
                            <ion-img [src]="picUrl" class="user-icon"></ion-img>
                        </ng-template>
                    </ion-avatar>
                    <ion-label class="you ion-text-wrap">
                        <ion-text>You</ion-text>
                        <p color="secondary">
                            {{chat.message}}
                            <br />
                            <!-- <ion-text class="ion-text-right">{{chat.time}}</ion-text> -->
                        </p>
                    </ion-label>
                </ion-item>

                <ng-template #to>
                    <ion-item button>
                        <ion-avatar slot="start">
                            <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
                            <ng-template #OwnerPic>
                                <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
                            </ng-template>
                        </ion-avatar>
                        <ion-label class="receiver ion-text-wrap">
                            <p>
                                {{chat.message}}
                                <br />
                                <ion-button shape="round" color="light" (click)="addToCalender(chat)">Add To Calendar</ion-button>
                                <br />
                                <ion-text class="ion-text-right">{{chat.time}}</ion-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ng-template>
            </ion-list>
        </div>


        <ion-list class="item-background-color" *ngIf="chats.length === 0">

            <ion-item button>
                <ion-avatar slot="end">
                    <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #pic>
                        <ion-img [src]="picUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        Hello, I am interested in having my car washed. When is the next available slot ?
                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="viewingDates">
                <ion-avatar slot="start">
                    <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #OwnerPic>
                        <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <P>The available slots are:</P>

                    <ol>
                        <span *ngFor="let day of viewingDates.days">
                          <li *ngIf="day.checked === true" class="list">
                              {{day.name}} {{day.from}} - {{day.to}}
                          </li>
                      </span>
                    </ol>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="viewingDates">
                <ion-avatar slot="start">
                    <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #OwnerPic>
                        <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">

                    <h2>Please Choose slot</h2>

                    <ol>
                        <span *ngFor="let day of viewingDates.days">
                          <li *ngIf="day.checked === true">
                              <ion-button shape="round" color="light" expand="full" (click)="selectDay(day)">
                                  {{day.name}} {{day.from}} - {{day.to}}
                              </ion-button>
                          </li>
                      </span>
                    </ol>

                </ion-label>
            </ion-item>

            <ion-item button *ngIf="isDateSelected">
                <ion-avatar slot="end">
                    <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #pic>
                        <ion-img [src]="picUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        {{dateSelected}}
                    </p>
                </ion-label>
            </ion-item>


            <ion-item button *ngIf="isDateSelected">
                <ion-avatar slot="start">
                    <ion-icon *ngIf="ownerNoPic === true; else OwnerPic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #OwnerPic>
                        <ion-img [src]="ownerPicUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        At what time will you deliver the car ?
                        <br />
                        <ion-item class="time-box">
                            <ion-label>
                                <ion-icon name="time-outline"></ion-icon>
                            </ion-label>
                            <ion-datetime displayFormat="HH:mm" placeholder="Select Time" [(ngModel)]="time" [min]="minTime" [max]="maxTime" required>
                            </ion-datetime>
                        </ion-item>

                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button shape="round" color="light" expand="block" (click)="cancelAppointment()">
                                        Cancel
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button shape="round" color="light" expand="block" (click)="setTime()">
                                        Continue
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="isTimeSelected">
                <ion-avatar slot="end">
                    <ion-icon *ngIf="noPic === true; else pic" name="person-circle-outline" class="user-icon"></ion-icon>
                    <ng-template #pic>
                        <ion-img [src]="picUrl" class="user-icon"></ion-img>
                    </ng-template>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        {{time}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="isTimeSelected">
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        Request appointment for:<br> Date: {{dateSelected}}<br> Time: {{time}}
                        <br> Total Price of : R{{totalPrice}}
                        <br />

                        <ion-button shape="round" expand="full" color="light" (click)="requestAppointment()">Request Appointment
                        </ion-button>
                        <ion-button shape="round" expand="full" color="light" (click)="cancelAppointment()">Cancel</ion-button>
                    </p>
                </ion-label>
            </ion-item>


        </ion-list>

    </div>

    <div class="dummy"></div>

    <!-- <div class="footer">
      <div class="message-input">
          <textarea [(ngModel)]="text"></textarea>
      </div>
      <div class="send">
          <ion-button shape="round" color="primary" (click)="sendMessage()" class="send-btn">
              <ion-icon name="send-outline"></ion-icon>
          </ion-button>
      </div>
  </div> -->

</ion-content>