  ion-card {
    border-radius: 14px;

    ion-card-header{
      color: black;
      font-size: 22px;
      font-weight: bolder;
    }
  }

  ion-img{
    width: 100%;
  }

  .main-card{
    height: 100%;
  }

  .slide-card{
    height: 100%;
  }