  ion-card {
    border-radius: 14px;

    ion-card-header{
      color: black;
      font-size: 22px;
      font-weight: bolder;
    }
  }

  ion-img{
    width: 100%;
  }

  .main-card{
    height: 95%;
  }

  .slide-card{
    height: 100%;
  }

  ion-button{
    margin-top: 8px;
  }

  ion-label{
    font-size: 14px;
  }