//   ion-card {
//     border-radius: 14px;

//     ion-card-header{
//       color: black;
//       font-size: 22px;
//       font-weight: bolder;
//     }
//   }

//   ion-img{
//     width: 100%;
//   }

//   .main-card{
//     height: 95%;
//   }

//   .slide-card{
//     height: 100%;
//   }

//   ion-button{
//     margin-top: 20px;
//   }

//   ion-label{
//     font-size: 14px;
//     color: black;
//   }

// .card {
//     border-radius: 14px;
// }

// .ion-card-header {
//     font-size: 20px;
//     font-weight: bolder;
//     color: black;
// }


// /*   changed to the one just below
//   ion-card-content {
//     .img-wrapper {
//       width: 100%;
//       border-radius: 14px;
//       overflow: hidden;
//       margin-bottom: 8px;
//       .img{
//           width: 100%;
//       }
//     }
//   }*/

// .ion-card {
//     height: 30vh;
//     position: relative;
//     overflow: hidden;
//     text-decoration: none;
//     ion-content {
//         position: relative;
//     }
//     ion-slides,
//     ion-slide,
//     ion-card-content,
//     img {
//         height: 100%;
//         width: 100%;
//     }
//     ion-card-content {
//         padding: 0%;
//     }
// }

// ion-card-header {
//     ion-icon {
//         font-size: 60px;
//     }
//     ion-card-title {
//         font-size: 22px;
//         font-weight: bolder;
//     }
// }

// .ion-button {
//     --background: rgb(136, 204, 204);
// }

.card {
  border-radius: 14px;
  width: 95%;
  height: ;
}

.ion-card-header {
  font-size: 20px;
  font-weight: bolder;
  color: black;
}

ion-card-content {
  .img-wrapper {
    width: 100%;
    border-radius: 14px;
    overflow: hidden;
    margin-bottom: 8px;
    .img{
        width: 100%;
    }
  }
}

ion-card-header {
  ion-icon {
    font-size: 60px;
  }

  ion-card-title {
    font-size: 22px;
    font-weight: bolder;
  }
}

.ion-button{
  --background: rgb(136, 204, 204);
}
