<ion-header class="ion-no-border">

	<ion-item lines="none">

		<ion-buttons slot="start">

		<ion-back-button defaultHref="/tabs-pages/tabs/dashboard"></ion-back-button>
		
		</ion-buttons>


	</ion-item>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="main-card" *ngIf="property">
    <ion-card-header class="ion-text-center">
      {{property.name}}
    </ion-card-header>
    <ion-slides [options]="options">
      <ion-slide *ngFor="let image of property.image">
        <ion-card class="slide-card">
          <div>
            <ion-img [src]="image"></ion-img>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
    <ion-card-content >
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            Amount: 
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            {{property.price}}
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            Bedrooms: 
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            <ion-label>
              {{property.bedrooms}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            Bathrooms: 
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            <ion-label>
              {{property.bathrooms}}
            </ion-label>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            Location: 
          </ion-col>
          <ion-col size="8" class="ion-text-right">
            <ion-label *ngFor="let address of property.location">
              {{address}},
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>      
    </ion-card-content>
  </ion-card>
</ion-content>
