.wrapper{
    width: 100%;
    height: 100vh;
  }
  
  .seachbar {
    margin: auto;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: white;
    border-radius: 5px;
    color: black;
    border: 1px solid black;
    
  }
  