<div class="wrapper">
  <div class="header">
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>
      

      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="seachbar">
    <ion-input clearInput type="text" placeholder="Search ">
      <ion-icon style="color: black; margin-left: 5px;" class="ion-padding-left" slot="start" name="search-outline">
      </ion-icon>
    </ion-input>

  </div>

  <ion-item-divider class="ion-padding">
    <ion-label>
      Recomended
    </ion-label>
    <ion-label slot="end">
      <a>View all</a>
    </ion-label>
    
  </ion-item-divider>

</div>