<ion-header class="ion-no-border">

    <ion-item lines="none" class="ion-item">

        <ion-buttons slot="start">

            <ion-back-button defaultHref="/tabs-pages/tabs/dashboard"></ion-back-button>

        </ion-buttons>

        <ion-label class="ion-text-end">
            <h2>Profile</h2>
        </ion-label>


    </ion-item>

</ion-header>


<ion-content [fullscreen]="true">

    <div class="ion-padding" *ngIf="user_details">
        <div class="form" *ngIf="user_details">

            <div class="container">
                <ion-avatar>
                    <ion-img src="../../../../assets/images/avatar.jpg"></ion-img>
                </ion-avatar>
            </div>

            <ion-card class="card">
                <ion-card-content>
                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Name
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.name}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>
                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Email
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.email}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                    <ion-item lines="none">
                        <ion-label>
                            ADDRESS
                        </ion-label>
                        <ion-note slot="end" color="">
                            <ion-label color="primary">
                                edit
                            </ion-label>
                        </ion-note>
                    </ion-item>

                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Street
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.email}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Town
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.email}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Province
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.email}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                    <ion-item-divider lines="none">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="4">
                                    Postal Code
                                </ion-col>
                                <ion-col size="8">
                                    <ion-label>
                                        <p>{{user_details.email}}</p>
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item-divider>

                </ion-card-content>
            </ion-card>

            <!-- <ion-item-divider lines="none">
                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            Email
                        </ion-col>
                        <ion-col size="8">
                            <ion-label>
                                <p>{{user_details.email}}</p>
                            </ion-label>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-item-divider> -->




        </div>
    </div>
</ion-content>