.ion-item-header{
    --background: white;
  
    
    h2 {
        font-weight: bolder;
        font-size: 18px;
        padding-top: 8px;
    }
}
.ion-item {
    --background: white;
  
    
    h2 {
        font-weight: bolder;
        font-size: 18px;
        padding-top: 8px;
    }
    
}
    
ion-content {
    --background: #f8f8fa;

    .avatar{
        // width: 15%;
    }

    .names{
        font-weight: bold;
        color: black;
    }
}

ion-item-group{
    --background: #f8f8fa;
}