.ion-item-header{
    --background: #f8f8fa;
  
    
    h2 {
        font-weight: bolder;
        font-size: 18px;
        padding-top: 8px;
    }
}

.slot-end{
    padding-top: 15px;
}

ion-item {
    --background: #f8f8fa;
  
    
    h2 {
        font-weight: bolder;
        font-size: 18px;
        padding-top: 8px;
    }
    
}
    
ion-content {
    --background: #f8f8fa;

    .avatar{
        // padding-top: 15px;
    }

    .names-col{
        padding-top: 0px;
    }
    .names{
        
        font-weight: bold;
        color: black;
    }

    ion-label{
        font-size: 14px;
    }
}

ion-item-group{
    --background: #f8f8fa;
}