<ion-header class="ion-no-border">

    <ion-item lines="none">

        <ion-buttons slot="start">

            <h2>
                Settings
            </h2>

        </ion-buttons>

        <ion-buttons slot="end">
            <ion-button>
                <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>
                <ion-badge color="primary" *ngIf="!spinner" (click)="logOut()">Logout</ion-badge>
            </ion-button>
        </ion-buttons>

    </ion-item>

</ion-header>

<ion-content>

    <ion-list class="ion-margin-top">

        <ion-item-group>

            <ion-item-divider button>

                <ion-grid>
                    <ion-row>
                        <ion-col size="4">
                            <ion-avatar class="avatar">
                                <ion-img src="../../../../assets/images/Carwash.jpg"></ion-img>
                            </ion-avatar>
                        </ion-col>
                        <ion-col size="8">
                            <h5 class="names">
                                Itumeleng Tshabalala
                            </h5>
                        </ion-col>
                    </ion-row>
                </ion-grid>

            </ion-item-divider>

            <ion-item button>
                <ion-label>Orders</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Exchange & Returns</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item-divider>

                <ion-label>GENERAL</ion-label>

            </ion-item-divider>

            <ion-item lines="" routerLink="">

                <ion-label>Personal Details</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Address Book</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item-divider>

                <ion-label>CREDIT</ion-label>

            </ion-item-divider>

            <ion-item lines="">

                <ion-label>Credit & Refunds</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Redeem Gift Voucher</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>
        </ion-item-group>
    </ion-list>

</ion-content>
