<ion-header class="ion-no-border">

    <ion-item lines="none">

        <ion-buttons slot="start">

            <ion-back-button defaultHref="/tabs-pages"></ion-back-button>

        </ion-buttons>

        <ion-buttons slot="end">

            <ion-button *ngIf="!user">
                <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>
                <ion-badge color="primary" *ngIf="!spinner" (click)="logOut()">Logout</ion-badge>
            </ion-button>
            <ion-button *ngIf="user">
                <ion-spinner name="crescent" *ngIf="spinner"></ion-spinner>
                <ion-badge color="primary" *ngIf="!spinner" (click)="logOut()">Logout</ion-badge>
            </ion-button>
        </ion-buttons>

    </ion-item>

</ion-header>

<ion-content>

    <ion-list class="ion-margin">

        <ion-item-group>

            <ion-item-divider>

                <ion-label>ORDERS</ion-label>

            </ion-item-divider>

            <ion-item button>
                <ion-label>Orders</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Exchange & Returns</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item-divider>

                <ion-label>GENERAL</ion-label>

            </ion-item-divider>

            <ion-item lines="" routerLink="/personal-details">

                <ion-label>Personal Details</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Address Book</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item-divider>

                <ion-label>CREDIT</ion-label>

            </ion-item-divider>

            <ion-item lines="">

                <ion-label>Credit & Refunds</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

            <ion-item lines="">

                <ion-label>Redeem Gift Voucher</ion-label>

                <ion-note slot="end" color="">
                    <ion-icon name="arrow-forward-outline"></ion-icon>
                </ion-note>

            </ion-item>

        </ion-item-group>
    </ion-list>

</ion-content>
