
 .img-wrapper {
    left: 50%;
    top: 50px;
    img {
      border-radius: 10px;
      width: 80px;
      height: 80px;
    };
};

ion-content{

    --background: url("/assets/images/back.jpg")  no-repeat center/cover fixed;

};