ion-item {
    --background: repeat-x;
    h2 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 8px;
    }
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}