ion-item {
    --background: repeat-x;
    h2 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 8px;
    }
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

#row {
    /*.col {
        ion-card {
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 10px #888888;
        }
    }*/
    .active {
        border: 1px solid;
        padding: 10px;
        // box-shadow: 5px 10px rgb(65, 138, 248);
        box-shadow: 5px 10px #83d7ee;
    }
    .diactivate {
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px #888888;
    }
}

// .div_interior {
//     border: 1px solid;
//     padding: 12px;
//     box-shadow: 5px 10px #e27f7f;
//     z-index: 2;
// }
// .div_exterior {
//     border: 1px solid;
//     padding: 12px;
//     box-shadow: 5px 10px #e27f7f;
//     z-index: 2;
// }
// .div_fullWash {
//     border: 1px solid;
//     padding: 12px;
//     box-shadow: 5px 10px #e27f7f;
//     z-index: 2;
// }