ion-item {
    --background: repeat-x;
    h2 {
        font-weight: bold;
        font-size: 18px;
        padding-top: 8px;
    }
}

.mat-stepper-vertical {
    margin-top: 8px;
}

.mat-form-field {
    margin-top: 16px;
}

#row {
    .col {
        ion-card {
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 10px #888888;
        }
    }
    .col:hover {}
    .col:active {
        ion-card {
            border: 1px solid;
            padding: 10px;
            box-shadow: 5px 10px #e27f7f;
        }
    }
}