<ion-header class="ion-no-border">
    <ion-item lines="none">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-icon style="width: 20px; height: 20px; " name="alert-circle-outline"></ion-icon>
        </ion-buttons>
    </ion-item>
</ion-header>

<ion-content>

    <ion-card>
        <ion-card-header>
            <ion-card-title>Car Model</ion-card-title>
            <ion-item>
                <ion-label>Select</ion-label>
                <ion-select (ionChange)=getval($event.target.value)>
                    <ion-select-option value="01">Sedan</ion-select-option>
                    <ion-select-option value="02">Station wagon</ion-select-option>
                    <ion-select-option value="03">HatchBack</ion-select-option>
                    <ion-select-option value="04">Minivan</ion-select-option>
                    <ion-select-option value="05">Bus</ion-select-option>
                    <ion-select-option value="06">Truck</ion-select-option>
                </ion-select>
            </ion-item>

        </ion-card-header>
        <ion-slides autoplay="1000" loop="true" speed="200" pager="true" [options]="slideOpts">
            <ion-slide>
                <img src="../../../../../assets/images/20210214_130935.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../../../assets/images/20210214_130948.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../../../assets/images/20210214_130958.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../../../assets/images/20210214_131007.jpg">
            </ion-slide>
            <ion-slide>
                <img src="../../../../../assets/images/20210214_131015.jpg">
            </ion-slide>
        </ion-slides>
    </ion-card>

    <!-- <ion-card> -->
    <!-- <ion-card-header> -->

    <ion-grid>
        <ion-row id="row">

            <ion-col color="tertiary">
                <div (click)="selectInterior()">
                    <div class="col" *ngIf="interior==='active'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Interior
                        </div>
                        <ion-card class="active">
                            <img src="../../../../../assets/images/interior.png">
                        </ion-card>
                    </div>

                    <div class="col" *ngIf="interior==='diactive'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Interior
                        </div>
                        <ion-card class="diactivate">
                            <img src="../../../../../assets/images/interior.png">
                        </ion-card>
                    </div>
                </div>
            </ion-col>

            <ion-col>

                <div (click)="selectExterior()">
                    <div class="col" *ngIf="exterior==='active'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Exterior
                        </div>
                        <ion-card class="active">
                            <img src="../../../../../assets/images/exteria.png">
                        </ion-card>
                    </div>

                    <div class="col" *ngIf="exterior==='diactive'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Exterior
                        </div>
                        <ion-card class="diactivate">
                            <img src="../../../../../assets/images/exteria.png">
                        </ion-card>
                    </div>

                </div>

            </ion-col>
            <ion-col>
                <div (click)="selectFullWash()">
                    <div class="col" *ngIf="fullWash==='active'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Full wash
                        </div>
                        <ion-card class="active">
                            <img src="../../../../../assets/images/fullWash.png">
                        </ion-card>
                    </div>

                    <div class="col" *ngIf="fullWash==='diactive'">
                        <div style="width:100%; margin: auto; text-align: center;">
                            Full wash
                        </div>
                        <ion-card class="diactivate">
                            <img src="../../../../../assets/images/fullWash.png">
                        </ion-card>
                    </div>

                </div>
            </ion-col>

        </ion-row>
    </ion-grid>


    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-list lines="none">
                        <div style="width: 100; margin: auto; text-align: center;">
                            <ion-icon style="width: 30px; height: 30px; color: #3981d0;" name="location-outline"></ion-icon>
                            <ion-title>Collect</ion-title>
                        </div>

                    </ion-list>
                </ion-card>
            </ion-col>

            <ion-col>
                <ion-card>
                    <ion-list>
                        <div style="width: 100; margin: auto; text-align: center;">
                            <ion-icon style="width: 30px; height: 30px; color: #3981d0;; " name="home-outline"></ion-icon>
                            <ion-title>Wash home</ion-title>
                        </div>
                    </ion-list>
                </ion-card>
            </ion-col>
        </ion-row>

    </ion-grid>
</ion-content>
<ion-progress-bar value={{progressVall}} buffer="0.5"></ion-progress-bar>
<ion-footer>
    <ion-toolbar>

        <div style="margin-left: 5%; margin-top: 5%;">
            <h2><b>Price:</b> {{totalPrice}}</h2>
            <!-- <p style="font-size: 20px;">{{'R'+5645}}</p> -->
        </div>


        <ion-item slot="end" lines="none">
            <ion-button style="color:#83d7ee; " size="small " shape="round " expand="block " (click)="sendRequest() ">Request</ion-button>
        </ion-item>

    </ion-toolbar>

</ion-footer>





<!--
<ion-content [fullscreen]="true ">





    <mat-vertical-stepper [linear]="isLinear " #stepper>

        <mat-step [stepControl]="firstFormGroup ">
            <form [formGroup]="firstFormGroup ">
                <ng-template matStepLabel>Fill in Car model</ng-template>
                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="model " formControlName="firstCtrl " required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>

        <mat-step [stepControl]="secondFormGroup ">
            <form [formGroup]="secondFormGroup ">
                <ng-template matStepLabel>Fill out your address</ng-template>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput formControlName="secondCtrl " placeholder="Ex. 1 Main St, New York, NY " required>
                </mat-form-field>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <!-- <p>You are now done.</p> --
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="sendRequest() ">Send</button>
            </div>
        </mat-step>
    </mat-vertical-stepper>


</ion-content>-->