<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>messages</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="light">
    <div class="main">
        <div *ngIf="chats">
            <ion-list *ngFor="let chat of chats" class="item-background-color">
                <ion-item button *ngIf="chat.from === userID; else to">
                    <ion-avatar slot="end">
                        <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                    </ion-avatar>
                    <ion-label class="you ion-text-wrap">
                        <ion-text>You</ion-text>
                        <p color="secondary">
                            {{chat.message}}
                            <br />
                            <!-- <ion-text class="ion-text-right">{{chat.time}}</ion-text> -->
                        </p>
                    </ion-label>
                </ion-item>
        
                <ng-template #to>
                    <ion-item button>
                        <ion-avatar slot="start">
                            <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                        </ion-avatar>
                        <ion-label class="receiver ion-text-wrap">
                            <p>
                                {{chat.message}}
                                <br />
                                <ion-text class="ion-text-right">{{chat.time}}</ion-text>
                            </p>
                        </ion-label>
                    </ion-item>
                </ng-template>
            </ion-list>
        </div>


        <ion-list class="item-background-color">
            <ion-item button>
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        Hello, this property is still on the market.
                        <br />
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button>
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        Are you still interested ?
                        <br />
                        <ion-button shape="round" color="medium" (click)="questionOneNo()">No</ion-button>
                        <ion-button shape="round" color="medium" (click)="questionOneYes()">Yes</ion-button>
                    </p>
                </ion-label>
            </ion-item>
        
        
            <ion-item button *ngIf="questionOne === true">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        Yes
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button *ngIf="questionOne === false">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        No
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button *ngIf="questionOne === true">
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        Would you like to make an appointment ?
                        <br />
                        <ion-button shape="round" color="medium" (click)="questionTwoNo()">No</ion-button>
                        <ion-button shape="round" color="medium" (click)="questionTwoYes()">Yes</ion-button>
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button *ngIf="questionTwo === true">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        Yes
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button *ngIf="questionTwo === false">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        No
                    </p>
                </ion-label>
            </ion-item>
        
            <ion-item button *ngIf="questionTwo === true">
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
        
                    <h2>Make appointment for viewing</h2>

                    <P>You can view the property on the following days:</P>

                    <ol>
                        <span *ngFor="let day of viewingDates.days">
                            <li *ngIf="day.checked === true">
                                <ion-button shape="round" color="medium" expand="full" (click)="selectDay(day)">
                                    {{day.name}} {{day.from}} - {{day.to}}
                                </ion-button>
                            </li>
                        </span>
                    </ol>

                </ion-label>
            </ion-item>

            <ion-item button *ngIf="questionThree === true">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        {{dateSelected}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="questionThree === true">
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        At what time would you like to see this property ?
                        <br />
                        <ion-item class="time-box">
                            <ion-label><ion-icon name="time-outline"></ion-icon></ion-label>
                            <ion-datetime 
                                displayFormat="HH:mm" 
                                placeholder="Select Time" 
                                [(ngModel)]="time" 
                                [min]="minTime"
                                [max]="maxTime" 
                                required
                            >
                            </ion-datetime>
                        </ion-item>

                        <ion-grid>
                            <ion-row>
                                <ion-col>
                                    <ion-button shape="round" color="medium" expand="block" (click)="cancelAppointment()">
                                        Cancel
                                    </ion-button>
                                </ion-col>
                                <ion-col>
                                    <ion-button shape="round" color="medium" expand="block" (click)="setTime()">
                                        Continue
                                    </ion-button>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                        
                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="questionFour === true">
                <ion-avatar slot="end">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="you ion-text-wrap">
                    <p>
                        {{time}}
                    </p>
                </ion-label>
            </ion-item>

            <ion-item button *ngIf="questionFour === true">
                <ion-avatar slot="start">
                    <ion-icon name="person-circle-outline" class="user-icon"></ion-icon>
                </ion-avatar>
                <ion-label class="receiver ion-text-wrap">
                    <p>
                        Request appointment for:<br>
                        Date: {{dateSelected}}<br>
                        Time: {{time}}
                        <br />
                        
                        <ion-button shape="round" expand="full" color="medium" (click)="requestAppointment()">Request Appointment</ion-button>
                        <ion-button shape="round" expand="full" color="medium" (click)="cancelAppointment()">Cancel</ion-button>
                    </p>
                </ion-label>
            </ion-item>
        
        </ion-list>

    </div>

    <div class="dummy"></div>

    <!-- <div class="footer">
        <div class="message-input">
            <textarea [(ngModel)]="text"></textarea>
        </div>
        <div class="send">
            <ion-button shape="round" color="primary" (click)="sendMessage()" class="send-btn">
                <ion-icon name="send-outline"></ion-icon>
            </ion-button>
        </div>
    </div> -->

</ion-content>