<ion-header class="ion-no-border">
    <ion-item lines="none">
        <ion-buttons slot="start">
            <ion-label class="ion-text-center">
                <h2>Favorites</h2>
            </ion-label>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button routerLink="#">
                <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
                <!-- <ion-badge color="primary" style="position: absolute; right: -5px; top: -5px;">0</ion-badge> -->
            </ion-button>
        </ion-buttons>
    </ion-item>
</ion-header>


<ion-content>
    <div
        *ngIf="favoriteCarwashes.length > 0 || favoritesProperties.length > 0 || favoriteCleaningService.length > 0; else empty">
        <div class="ion-padding wrapper">
            <div class="seachbar ">
                <ion-input clearInput type="text" placeholder="Search">
                    <ion-icon style="color: gray; margin-left: 10px;margin-right: 10px; font-size: 20px;"
                        class="ion-padding-left" slot="start" name="search-outline">
                    </ion-icon>
                </ion-input>
            </div>
        </div>

        <div class="ion-padding" *ngIf="favoritesProperties.length > 0">
            <ion-row>
                <ion-col size="9">
                    <ion-badge color="light" class="ion-margin-end">
                        Apartments
                    </ion-badge>
                </ion-col>
                <ion-col size="3">
                    <ion-badge color="light" class="ion-margin-end">
                        <a routerLink="/add-favorites">Add More</a>
                    </ion-badge>
                </ion-col>
            </ion-row>
        </div>

        <ion-grid class="ion-no-padding" *ngIf="favoritesProperties.length > 0">
            <ion-row>
                <ion-col size="12">
                    <ion-slides [options]="options">
                        <ion-slide *ngFor="let favorite of favoritesProperties">
                            <ion-card class="card">
                                <ion-card-content class="ion-text-left">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <div class="img-wrapper">
                                                    <ion-img routerLink="/property-details/{{favorite.id}}"
                                                        src="{{favorite.images}}"></ion-img>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="10" class="ion-margin-top">
                                                <ion-card-title class="title">{{favorite.name}}</ion-card-title>
                                            </ion-col>
                                            <ion-col size="2">
                                                <ion-buttons slot="">
                                                    <ion-button (click)="deletefavoriteProperty(favorite.id)">
                                                        <ion-icon slot="icon-only" name="heart" color="primary">
                                                        </ion-icon>
                                                    </ion-button>
                                                </ion-buttons>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>

        <div class="ion-padding" *ngIf="favoriteCarwashes.length > 0">
            <ion-row>
                <ion-col size="9">
                    <ion-badge color="light" class="ion-margin-end">
                        Carwashes
                    </ion-badge>
                </ion-col>
                <ion-col size=3>
                    <ion-badge color="light" class="ion-margin-end">
                        <a routerLink="/add-favorites">Add More</a>
                    </ion-badge>
                </ion-col>
            </ion-row>
        </div>

        <ion-grid class="ion-no-padding" *ngIf="favoriteCarwashes.length > 0">
            <ion-row>
                <ion-col size="12">
                    <ion-slides [options]="options">
                        <ion-slide *ngFor="let carwash of favoriteCarwashes">
                            <ion-card class="card">
                                <ion-card-content class="ion-text-left">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <div class="img-wrapper">
                                                    <ion-img src="{{carwash.images}}"
                                                        routerLink="/carwash-details/{{carwash.id}}"></ion-img>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="10" class="ion-margin-top">
                                                <ion-card-title class="title">{{carwash.name}}</ion-card-title>
                                            </ion-col>
                                            <ion-col size="2">
                                                <ion-buttons slot="">
                                                    <ion-button (click)="deleteFavoriteCarwash(carwash.id)">
                                                        <ion-icon slot="icon-only" name="heart" color="primary">
                                                        </ion-icon>
                                                    </ion-button>
                                                </ion-buttons>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>


        <div class="ion-padding" *ngIf="favoriteCleaningService.length > 0">
            <ion-row>
                <ion-col size="9">
                    <ion-badge color="light" class="ion-margin-end">
                        Cleaning Services
                    </ion-badge>
                </ion-col>
                <ion-col size="3">
                    <ion-badge color="light" class="ion-margin-end">
                        <a routerLink="/add-favorites">Add More</a>
                    </ion-badge>
                </ion-col>
            </ion-row>
        </div>

        <ion-grid class="ion-no-padding" *ngIf="favoriteCleaningService.length > 0">
            <ion-row>
                <ion-col size="12">
                    <ion-slides [options]="options">
                        <ion-slide *ngFor="let service of favoriteCleaningService">
                            <ion-card class="card">
                                <ion-card-content class="ion-text-left">
                                    <ion-grid>
                                        <ion-row>
                                            <ion-col>
                                                <div class="img-wrapper">
                                                    <ion-img src="{{service.images}}"
                                                        routerLink="/carwash-details/{{service.id}}"></ion-img>
                                                </div>
                                            </ion-col>
                                        </ion-row>
                                        <ion-row>
                                            <ion-col size="10" class="ion-margin-top">
                                                <ion-card-title class="title">{{service.name}}</ion-card-title>
                                            </ion-col>
                                            <ion-col size="2">
                                                <ion-buttons slot="">
                                                    <ion-button (click)="deletefavoriteCleaningService(service.id)">
                                                        <ion-icon slot="icon-only" name="heart" color="primary">
                                                        </ion-icon>
                                                    </ion-button>
                                                </ion-buttons>
                                            </ion-col>
                                        </ion-row>
                                    </ion-grid>
                                </ion-card-content>
                            </ion-card>
                        </ion-slide>
                    </ion-slides>
                </ion-col>
            </ion-row>
        </ion-grid>


        <div class="ion-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-badge color="light" class="ion-margin-end">
                        One Stop.
                    </ion-badge>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    <ion-badge color="light">
                        one-stop.com
                    </ion-badge>
                </ion-col>
            </ion-row>
        </div>

    </div>

    <ng-template #empty>
        <ion-card class="empty-card ion-text-center">
            <ion-card-content>
                <ion-label>
                    <h1 class="ion-text-center top-message">No favorites found.</h1>
                </ion-label>
                <ion-label class="">
                    <h3 class="ion-text-center bottom-message"><a routerLink="/add-favorites" color="primary">Add
                            favorite </a>
                        apartments, carwashes and cleaning
                        services. </h3>
                </ion-label>
            </ion-card-content>
        </ion-card>

        <!-- <div class="ion-padding">
            <ion-row>
                <ion-col size="6">
                    <ion-badge color="light" class="ion-margin-end">
                        One Stop.
                    </ion-badge>
                </ion-col>
                <ion-col size="6" class="ion-text-end">
                    <ion-badge color="light">
                        one-stop.com
                    </ion-badge>
                </ion-col>
            </ion-row>
        </div> -->
    </ng-template>

</ion-content>