<!-- <ion-grid class="ion-padding grid">
    <ion-row>
        <ion-col size="12"> -->
<ion-card class="card" *ngFor="let carwash of car_washes">
    <ion-card-content class="ion-text-left">
        <div class="img-wrapper" routerLink="/carwash-details/{{carwash.id}}">
            <ion-img src="{{carwash.images}}"></ion-img>
        </div>

        <ion-grid>
            <ion-row>
                <ion-col size="10" class="ion-margin-top">
                    <ion-card-title class="title">{{carwash.name}}</ion-card-title>
                </ion-col>
                <ion-col size="2">
                    <ion-buttons slot="">
                        <!-- <ion-button *ngIf="carwash.favorite" (click)="setFavoriteCarwash(carwash)">
                                        <ion-icon slot="icon-only" name="heart" color="primary"></ion-icon>
                                    </ion-button>
                                    <ion-button *ngIf="!carwash.favorite" (click)="setFavoriteCarwash(carwash)">
                                        <ion-icon slot="icon-only" name="heart-outline" color="primary"></ion-icon>
                                    </ion-button> -->
                        <!-- {{user}} -->
                        <!-- <span *ngFor="let like of likes">
                                        <ion-button *ngIf="like.carwash_id === carwash.id && user === like.user_id"
                                            (click)="removefavoriteCarwash(carwash)">
                                            <ion-icon slot="icon-only" name="heart" color="primary"></ion-icon>
                                        </ion-button>
                                        <ion-button *ngIf="like.carwash_id != carwash.id"
                                            (click)="setFavoriteCarwash(carwash)">
                                            <ion-icon slot="icon-only" name="heart-outline" color="primary"></ion-icon>
                                        </ion-button>
                                    </span>

                                    <ion-button *ngIf="likes.length == 0" (click)="setFavoriteCarwash(carwash)">
                                        <ion-icon slot="icon-only" name="heart-outline" color="primary"></ion-icon>
                                    </ion-button> -->

                    </ion-buttons>
                </ion-col>
            </ion-row>
        </ion-grid>
        <!-- <ion-card-subtitle>44 Grand Central, Midrand, Johannesburg, South africa</ion-card-subtitle> -->
    </ion-card-content>
</ion-card>
<!-- </ion-col>
</ion-row>
</ion-grid> -->