ion-tabs {
    box-shadow: none;
}

ion-tab-bar {
    --border: linear-gradient(to left, rgba(255, 255, 255, 0.96), rgb(237, 243, 243)) no-repeat;
    --background: linear-gradient(to left, rgba(255, 255, 255, 0.96), rgb(237, 243, 243)) no-repeat;
}

ion-tab-button {
    --box-shadow: none;
    --background: transparent;
}

ion-badge {
    font-size: 12px;
}

ion-icon {
    border: none;
    background: none;
    font-size: 24px;
    color: #8bc34a;
    cursor: pointer;
    transition:.5s;
    &:hover{
      color: #4CAF50  ;
      transform: rotate(22deg)
    }
  }
