.wrapper {
    padding-bottom: 0;
  }
  

  .card {
    margin: 0;
    margin-right: 50px;
    margin-bottom: 20px;
    width: 100%;
    border-radius: 14px;
  }
  
  
  .category {
    width: 100%;
    box-shadow: none;
    border-radius: 14px;
  }
  
  .title {
    font-size: 16px;
    font-weight: bolder;
  }
  
  
  ion-card-content {
    .img-wrapper {
      border-radius: 14px;
      height: 200px;
      overflow: hidden;
      margin-bottom: 8px;
    }
  
    ion-icon {
      color: #f2994a;
      padding-right: 4px;
    }
  
    ion-card-subtitle:last-of-type {
      // padding-top:6px;
    }
  
  }
  
  ion-card-header {
    ion-icon {
      font-size: 60px;
    }
  
    ion-card-title {
      font-size: 22px;
      font-weight: bolder;
    }
  }

  // .grid{
  //   margin-bottom: 20px;
  // }