<ion-grid class="ion-padding grid">
  <ion-row>
    <ion-col size="12">
          <ion-card class="card" *ngFor="let carwash of car_washes" >
            <ion-card-content class="ion-text-left">
              <div class="img-wrapper" (click)="gotoCarwashDetails()" >
                <ion-img src="{{carwash.image}}"></ion-img>
              </div>

              <ion-grid>
                <ion-row>
                  <ion-col size="10" class="ion-margin-top">
                    <ion-card-title class="title">{{carwash.name}}</ion-card-title>
                  </ion-col>
                  <ion-col size="2">
                    <ion-buttons slot="">
                      <ion-button *ngIf="carwash.favorite" (click)="like()">
                          <ion-icon slot="icon-only" name="heart" color="primary"></ion-icon>
                      </ion-button>
                      <ion-button *ngIf="carwash.favorite" (click)="like()">
                        <ion-icon slot="icon-only" name="heart-outline" color="primary"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                  </ion-col>
                </ion-row>
              </ion-grid>
              <ion-card-subtitle>44 Grand Central, Midrand, Johannesburg, South africa</ion-card-subtitle>
            </ion-card-content>
          </ion-card>
    </ion-col>
  </ion-row>