ion-item {
  --background: rgba(248, 248, 250, 0.96);
  h2 {
    font-weight: bolder;
    font-size: 18px;
    padding-top: 12px;
  }
  h3 {
    font-weight: bold;
    font-size: 16px;
  }
}

ion-content {
  --background: linear-gradient(
    to left,
    rgba(255, 255, 255, 0.96),
    rgb(237, 243, 243)
  );
  .email {
    font-size: 15px;
  }
  .avatar-col {
    padding-top: 15px;
  }
  .name-email-col {
    padding-top: 0px;
  }
}
