ion-item {
  --background: linear-gradient(
      to right,
      rgb(230, 240, 255),
      rgb(255, 255, 255)
    )
    repeat-x;

  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }
}
/*
ion-content {
  // --background: linear-gradient(
  //     to right,
  //     rgb(180, 233, 227),
  //     rgb(255, 255, 255)
  //   )
  //   repeat-x;
}*/
/*
ion-footer {
  // background: linear-gradient(to right, rgb(180, 233, 227), rgb(255, 255, 255))
  //   repeat-x;
}*/

.card {
  margin: 0;
  margin-right: 50px;
  width: 100%;
  border-radius: 20px;
  // color: white;
  font-weight: bolder;
}

ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  ion-icon {
    color: #f2994a;
    padding-right: 4px;
  }

  ion-card-subtitle:last-of-type {
    padding-top: 6px;
  }
}

ion-card-header {
  ion-icon {
    font-size: 60px;
  }

  ion-card-title {
    font-size: 22px;
    font-weight: bolder;
  }
}

ion-checkbox {
  // padding-top: 10px;
  --border-radius: 14px;
}

ion-badge {
  color: #fff;
  position: absolute;
  top: 0px;
  right: 0px;
  border-radius: 100%;
}

/*
.category-block {
  margin-bottom: 0px;
}*/

.category-banner {
  background: var(--ion-color-light);
  height: 40px;
  padding: 10px;
  font-weight: 500;
}

.image {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: inherit;
}

.service-card {
  border-radius: 17px;
}
