<ion-header class="ion-no-border">

    <ion-item lines="none">

        <ion-buttons slot="start">

            <ion-back-button defaultHref="/tabs-pages/tabs/dashboard"></ion-back-button>

        </ion-buttons>

        <ion-buttons slot="end">
            <ion-label class="ion-text-center">
                <h2>Cleaning Services</h2>
            </ion-label>
        </ion-buttons>

    </ion-item>

</ion-header>



<ion-content [fullscreen]="true">
    <div class="ion-padding ion-margin-bottom wrapper">
        <div (click)="gotoMap()" class="seachbar ">
            <ion-input clearInput type="text" placeholder="Search Location">
                <ion-icon style="color: gray; margin-left: 10px;margin-right: 10px; font-size: 20px;"
                    class="ion-padding-left" slot="start" name="search-outline">
                </ion-icon>
            </ion-input>
        </div>
    </div>

    <ion-grid class="ion-padding grid">
        <ion-row>
            <ion-col size="12">
                <app-service-list [cleaning_services]="cleaning_services"></app-service-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>