.card {
    border-radius: 14px;
    
}

h3{
    font-weight: bold;
    color: black;
}

.background-image{
    --background: url(../../../../../assets/images/wash1.jpg) 0 0/100% 100% repeat-x;
    width: 100%;
}

.avatar{
    width: 100%;
}


.back-btn-left{
    float: left;
}

.first-card{
    margin-top: 20px;
}

ion-header{
    --background: url(../../../../../assets/images/wash1.jpg) 0 0/100% 100% repeat-x;
    width: 100%;
}


.back-btn-div{
    float: left;
    text-align: left;
}

ion-item {
    --background: rgba(248, 248, 250, .96);
  
    h2 {
      font-weight: bold;
      font-size: 18px;
      padding-top: 8px;
    }
  
  }