.card {
    border-radius: 14px;
    
}

.content-bg{
    background-image: url('../../../../../assets/images/chicken-burgers.png');
}

h3{
    font-weight: bold;
    color: black;
}

.background-image{
    --background: url(../../../../../assets/images/wash1.jpg) 0 0/100% 100% repeat-x;
    width: 100%;
}

.avatar{
    width: 100%;
}


.back-btn-left{
    float: left;
}

.first-card{
    margin-top: 30px;
}