<ion-header class="ion-no-border">
    <ion-item lines="none">
        <ion-buttons slot="start">
            <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-label class="ion-text-center">
            <h2>One Stop</h2>
        </ion-label>
        <ion-buttons slot="end">
            <ion-button routerLink="/notification">
                <ion-icon slot="icon-only" name="notifications-outline"></ion-icon>
                <ion-badge color="secondary" style="position: absolute; right: -5px; top: -5px;">0</ion-badge>
            </ion-button>
        </ion-buttons>

    </ion-item>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-grid class="ion-padding">
        <ion-row>
            <ion-col size="12">
                <ion-card class="card property-dashboard" (click)="gotoProperties()">
                    <ion-card-content class="ion-text-left">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" class="ion-text-center">
                                    <h2 class="h2">Apartments</h2>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">{{this.totalProperties}}</ion-card-title>
                                    <ion-card-subtitle>Properties</ion-card-subtitle>
                                </ion-col>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">203</ion-card-title>
                                    <ion-card-subtitle>Favorite</ion-card-subtitle>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12">
                <ion-card class="card carwash-dashboard" (click)="gotoCarwash()">
                    <ion-card-content class="ion-text-left">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" class="ion-text-center">
                                    <h2 class="h2">Car Wash</h2>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">{{this.totalCarWashes}}</ion-card-title>
                                    <ion-card-subtitle>Car Washes</ion-card-subtitle>
                                </ion-col>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">115</ion-card-title>
                                    <ion-card-subtitle>Favorite</ion-card-subtitle>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>


        <ion-row>
            <ion-col size="12">
                <ion-card class="card cleaning-dashboard" (click)="gotoCleaningServices()">
                    <ion-card-content class="ion-text-left">
                        <ion-grid>
                            <ion-row>
                                <ion-col size="12" class="ion-text-center">
                                    <h2>Cleaning Services</h2>
                                </ion-col>
                            </ion-row>
                            <ion-row>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">{{totalCleaningServices}}</ion-card-title>
                                    <ion-card-subtitle>Cleaning Services</ion-card-subtitle>
                                </ion-col>
                                <ion-col size="6" class="ion-text-center">
                                    <ion-card-title class="title">145</ion-card-title>
                                    <ion-card-subtitle>Favorite</ion-card-subtitle>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>



</ion-content>