ion-item {
  // --background: linear-gradient( to left, rgba(255, 255, 255, 0.96), rgb(237, 243, 243)) repeat-x;
  --background: rgb(237, 243, 243);
  h2 {
    font-weight: bolder;
    font-size: 22px;
    padding-top: 8px;
  }
}

ion-content {
  // --background: linear-gradient( to left, rgba(255, 255, 255, 0.96), rgb(237, 243, 243)) repeat-x;
  --background: rgb(237, 243, 243);
}

.card {
  margin: 0;
  margin-right: 50px;
  width: 100%;
  border-radius: 10px;
  font-weight: bolder;
  height: 150px;
  // height: 22vh;
}

.property-dashboard {
  // background-image: url(../../../../assets/images/property_dashboard.png);
  background-image: url(../../../../assets/images/houseDesh2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.carwash-dashboard {
  // background-image: url(../../../../assets/images/car-dashboard.png);
  background-image: url(../../../../assets/images/carwashDesh02.png);
  background-position: center;
  background-repeat: no-repeat;
}

.cleaning-dashboard {
  // background-image: url(../../../../assets/images/cleaning-dashboard.jpg);
  background-image: url(../../../../assets/images/cleaningDesh2.png);
  background-position: center;
  background-repeat: no-repeat;
}

.title {
  font-size: 16px;
  font-weight: bolder;
  // color: white;
  color: #83d7ee;
}

ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 60px;
    overflow: hidden;
    margin-bottom: 8px;
  }
  ion-icon {
    font-size: x-large;
    padding-right: 4px;
  }
}

ion-card-header {
  ion-icon {
    font-size: 60px;
  }
  ion-card-title {
    font-size: 22px;
    font-weight: bolder;
    // color: white;
    color: #83d7ee;
  }
}

.ion-badge {
  font-size: 12px;
  font-weight: bold;
}

.h2 {
  font-weight: bolder;
  font-size: 22px;
  padding-top: 8px;
}
