<div class="wrapper">
  <div class="header">
    <ion-toolbar>

      <ion-buttons slot="start">
        <ion-back-button defaultHref="/"></ion-back-button>
      </ion-buttons>


      <ion-buttons slot="end">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </div>

  <div class="seachbar">
    <ion-input clearInput type="text" placeholder="Search ">
      <ion-icon style="color: black; margin-left: 5px;" class="ion-padding-left" slot="start" name="search-outline">
      </ion-icon>
    </ion-input>

  </div>

  <ion-item-divider class="ion-padding">
    <ion-label>
      Recomended
    </ion-label>
    <ion-label slot="end">
      <!-- <a>View all</a> -->
      <a>Filter</a>
    </ion-label>

  </ion-item-divider>

  <ion-content class="ion-padding">

      <ion-list>

        <ion-card (click)="presentModal()" color="primary" class="ion-card">
          <ion-content color="primary">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/01.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/02.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide color="primary">
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/03.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide color="primary">
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/04.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide color="primary">
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/05.jpeg">
                </ion-card-content>
              </ion-slide>

            </ion-slides>
          </ion-content>

        </ion-card>
        <!-- ********************************************************** -->
        <ion-card (click)="presentModal()" color="primary" class="ion-card">
          <ion-content color="primary">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/1.1.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/1.2.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/1.3.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/1.4.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/1.5.jpeg">
                </ion-card-content>
              </ion-slide>

            </ion-slides>
          </ion-content>

        </ion-card>
        <!-- ********************************************************** -->

        <ion-card (click)="presentModal()" color="primary" class="ion-card">
          <ion-content color="primary">
            <ion-slides pager="true" [options]="slideOpts">
              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/2.1.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/2.2.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/2.3.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/2.4.jpeg">
                </ion-card-content>
              </ion-slide>

              <ion-slide>
                <ion-card-content>
                  <img src="../../../../assets/icon/apartment/2.5.jpeg">
                </ion-card-content>
              </ion-slide>

            </ion-slides>
          </ion-content>

        </ion-card>
        <!-- ********************************************************** -->


      </ion-list>


  </ion-content>

</div>